.color {
    /*height: 40px; */
}

.selector {
    width: 22px;
    height: 22px;    
}

/*
.beige {
    background-color: rgb(242,240,236);
}

.basaltgrey {
    background-color: rgb(188,196,204);
}

.burgundy {
    background-color: rgb(230,202,204);    
}

.cacao {
    background-color: rgb(204,196,192);
}*/